{% extends "./layout.njk" %}


{% block content %}

<div class="card">
    <a href="/products/list">Listar pessoas cadastradas</a>

    <section class="avatar" style="background: url(https://source.unsplash.com/collection/SYTO3xs06fU/500x500) no-repeat center center / cover"></section>

</div>

{% endblock content %}