{% extends "./layout.njk" %}


{% block content %}

<div class="card table-container">
    <table width="100%">
        <thead>
            <tr>
                <th>Nome Produto</th>
                <th>Código Produto</th>
                <th>Valor</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    <span style="background-image: url({{procut.avatar_url}})"></span>    
                {{product.name}}</td>
                <td>{{product.cod}}</td>
                <td>{{product.value}}</td>
                <td><a href="/products/{{product.id}}">ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}